:root {
    --map-width: calc(100% - 300px);
}

* {
    box-sizing: border-box;
}

a {
    color: #0064a8;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 85%;
    line-height: 1.5;
}

.map-full {
    position: fixed;
    width: var(--map-width);
    object-fit: contain;
    height: 100vh;
}

.map-zoom {
    position: fixed;
    top: 4%;
    left: 3%;
    width: calc(var(--map-width) - 6%);
    height: calc(100vh - 8%);
    border: 1px solid #ccc;
    object-fit: none;
}

.history {
    padding-left: var(--map-width);
}

@media(min-width: 1000px) {
    :root {
        --map-width: 70%;
    }
}

.history-content {
    padding: 1rem 1rem 30vh;
}

.language-link {
    margin-left: 1.5em;
    font-size: 14px;
}

.entry {
    position: relative;
    min-height: 35vh;
}

.entry h2 {
    font-size: 16px;
    font-weight: normal;
}

.entry ul {
    padding-left: 1rem;
}

.entry-active h2 {
    position: relative;
    color: #c52222;
}

.entry-active h2 span {
    padding: 0 0.5rem;
    background: #fff;
}

.entry-active h2:after {
    content: '\2022';
    position: absolute;
    right: 0;
}

.entry-active h2:before {
    content: '';
    position: absolute;
    display: block;
    border-bottom: 1px solid currentColor;
    top: calc(50% + 0.5px);
    right: 2px;
    left: -1rem;
    z-index: -1;
}
